@import url('https://fonts.googleapis.com/css?family=Oleo+Script:700|Playfair+Display|Roboto:100,300,400');

/* 
font-family: 'Oleo Script', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif; 
*/

* {
    scroll-behavior: smooth;
}

.wrapper {
    width: 100%;
}

.container {
    max-width: 1212px !important;
}

.wrapper__header {
    background-image: url("../img/header__bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* padding-bottom: 56.25%; */
    background-size: 100% auto;
    color: white;
    background-position: top;
}

.wrapper__header:first-child {
    padding-top: 50px;
}

.contact__address {
    display: flex;
    align-items: center;
}

.contact__address p {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    margin: 0;
    margin-left: 15px;
}

.header__logo {
    text-align: center;
}

.contact__digital {
    display: flex;
    align-items: center;
}

[class*="contact"] svg path {
    fill: #d4d4d6;
}

.contact__img {

    position: relative;
    display: inline-block;
    border: 1px solid #d4d4d6;
    height: 45px;
    width: 45px;
}

.contact__digital .contact__img {
    margin-left: auto;
}

.contact__img+.contact__img {
    margin-left: 15px;
}

.contact__img>* {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact__img:hover {
    border-color: #b4a08c;
}

.contact__img:hover>*,
.contact__img:hover>*>* {
    color: #b4a08c;
    fill: #b4a08c;
}

.menu {
    margin-top: 90px;
}

.menu__list {
    padding: 0;
    text-align: center;
}

.menu__list li {
    display: inline-block;
}

.menu__list li+li {
    margin-left: 86px;
}

.menu__list li>a {
    position: relative;
    font-family: 'BebasNeueRegular';
    color: #b4a08c;
    text-transform: uppercase;
    font-size: 21px;
    /* opacity: 0.8; */
    line-height: 20px;
}

.menu__list li>a:hover,
.menu__list li>a:active {
    color: #c99551;
    text-decoration: none;
}

.menu__list li>a:hover::after,
.menu__list li>a:active::after {
    content: "";
    position: absolute;
    top: 27px;
    left: 0;
    border: 0.5px solid #c99551;
    width: 100%;
}

.welcome {
    display: flex;
    /* flex-direction: column; */
    text-align: center;
}

.welcome h1 {
    font-family: 'Oleo Script', cursive;
    color: #eaeaea;
    font-size: 72px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 143px;
    margin-left: -13px;
}

.welcome img {
    width: 20%;
    margin-top: 37px;
    margin-left: -5px;
}

.welcome p {
    font-family: 'Roboto', sans-serif;
    opacity: 0.55;
    color: #eaeaea;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 23px;
}

.welcome__helper {
    margin-left: 5px;
}

*>.btn__next {
    text-align: center;
}

.btn__next {
    margin-top: 170px;
    opacity: 0.5;
    margin-bottom: 92px;
}

.btn__next a:hover *,
.btn__next a:active * {
    stroke: #b4a08c;
    color: #b4a08c;
}

.about-us {
    margin-top: 200px;
}

.about-us__description {
    position: relative;
    z-index: 1;
    margin-top: 52px;
}

.about-us__description h1 {
    font-family: 'Playfair Display', serif;
    color: #323246;
    font-size: 40px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 25px;
    text-transform: capitalize;
}

.about-us__description h1+p {
    margin-top: 70px;
}

.about-us__description p {
    font-family: 'Roboto', sans-serif;
    opacity: 0.6;
    color: #323246;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    width: 550px;
    margin-bottom: 26px;
}

.about-us__description p+p {
    margin-bottom: 54px;
}

.about-us__description::after {
    content: "";
    z-index: -1;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    height: 435px;
    width: 681px;
    background-color: #fff;
}

.about-us__description h1::after {
    content: "";
    position: absolute;
    top: 86px;
    left: -40px;
    width: 85px;
    border: 0.5px solid #dadadd;
}

.btn__about-us {
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #5b5b6b;
    border: 1px solid #d6d6da;
    padding: 11px 29px;
}

.btn__about-us:hover {
    color: #c99551;
    border-color: currentColor;
    text-decoration: none;
}

.about-us__img {
    margin-right: -130px;
}

.wrapper__news {
    background-color: #f7f7f7;
    clip-path: polygon(0 3.2vw,
        100% 0,
        100% calc(100% - 3.2vw),
        0 100%);
    padding-top: 137px;
    padding-bottom: 59px;
    margin-top: 144px;
    margin-bottom: 90px;
}

.row.news__row {
    margin-left: -10px;
    margin-right: -10px;
}

.row.news__row>[class*="col"] {
    padding-left: 10px;
    padding-right: 10px;
}


.news__header {
    text-align: center;
}

.news__row img {
    margin-top: 94px;
    margin-bottom: 30px;
}

.news__header h1,
.feedback__header h1 {
    color: #323246;
    font-family: 'Playfair Display', serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 20px;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
}

.news__header h1::after {
    content: "";
    position: absolute;
    top: 61px;
    left: 38px;
    width: 80px;
    border: 0.5px solid #dadadd;
}

.news__row {
    text-align: center;
    position: relative;
}

.news__row h2 {
    opacity: 0.4;
    color: #323246;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.news__row h1 {
    color: #323246;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-decoration: underline;
    text-decoration-color: #dadadd;
    text-underline-position: under;

}

.news__row p {
    opacity: 0.6;
    color: #323246;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 29px;
}

.news__row__card:hover img {
    transition-duration: 50ms;
    margin-top: 109px;
    margin-bottom: 15px;
}

.news__row__card:hover h1 {
    color: #b4a08c;
}

.news__more {
    text-align: center;
    margin-top: 84px;
    margin-bottom: 82px;
}

.news__more__btn {
    border: 1px solid rgba(50, 50, 70, 0.2);
    color: #323246;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    padding: 11px 42px;
}

svg.arrow__left {
    position: absolute;
    top: 49%;
    transform: rotate(90deg);
    left: -100px;
    margin: 0;
}

svg.arrow__right {
    position: absolute;
    top: 49%;
    transform: rotate(270deg);
    right: -100px;
    margin: 0;
}

svg.arrow__left:hover,
svg.arrow__right:hover {
    fill: #c99551;
    color: #c99551;
    stroke: #c99551;
}

.news__more__btn:hover,
.news__more__btn:active {
    color: #c99551;
    text-decoration: none;
    border-color: #c99551;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback__header {
    margin-bottom: 73px;
}

.feedback__text {
    text-align: center;
    margin-bottom: 66px;
}

.feedback__text p {
    opacity: 0.6;
    color: #323246;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    word-spacing: 2px;
}

.feedback__header h1::after {
    content: "";
    position: absolute;
    top: 53px;
    left: 68px;
    width: 80px;
    border: 0.5px solid #dadadd;
}

input {
    width: 281px;
    height: 44px;
    border: 1px solid rgba(50, 50, 70, 0.2);
    box-shadow: 0 5px 17px rgba(0, 0, 0, 0.08);
    vertical-align: middle;
}

.comment {
    margin-bottom: 23px;
}

input::placeholder,
textarea::placeholder {
    opacity: 0.6;
    color: #323246;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 100;
    line-height: 43px;
    padding-left: 22px;
}

.comment textarea {
    width: 581px;
    height: 140px;
    border: 1px solid rgba(50, 50, 70, 0.2);
    box-shadow: 0 5px 17px rgba(0, 0, 0, 0.08);
    resize: none;
}

.name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}


.feedback__btn {
    text-align: center;
    margin-bottom: 118px;
}

.feedback__btn button {
    width: 150px;
    height: 44px;
    border: 1px solid rgba(50, 50, 70, 0.2);
    color: #323246;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background: transparent;
}

.feedback__btn button:hover {
    cursor: pointer;
    color: #c99551;
    border-color: #c99551;
}

.map {
    margin-bottom: 37px;
    display: flex;
    justify-content: center;
}

.map img {
    width: 100%;
}

.menu__list_footer {
    margin-bottom: 36px;
}

.menu__list_footer li>a {
    opacity: 0.6;
    color: #282832;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.menu__list_footer li {
    position: relative;
}

.menu__list_footer li+li {
    margin-left: 40px;
}

.menu__list_footer li+li::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -23px;
    width: 3px;
    border: 0.5px solid #282832;
}

.footer__menu {
    margin-top: 57px;
}

.copy {
    text-align: center;
    opacity: 0.6;
    color: #323246;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-bottom: 200px;
}