body {
    background-color: #1C1C1C;
    color: white;
    font-family: sans-serif;
}

.item1 {
    grid-area: left;

}
.item2 {
    grid-area: center;

}
.item3 {
    grid-area: right;

}

.grid-container {
    display: grid;
    grid-template-areas: 
    'left center right';
    text-align: center;
    margin: 20% 5% auto 5%;
    grid-column-gap: 10px;
}

.img-bg {
    margin: auto;
    height: 80px;
    width: 80px;
    background-color: #FFAD00;
    border-radius: 15px 0px 15px 0px;
    position: relative;
}

img {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

h1 {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
}