.about {
    
    &__info {

        p {
            opacity: 0.5;
            color: white;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            margin-top: 13px;

            i {
                font-size: 12px;
                margin-right: 6px;
            }
        }
    }

    &__text {
        p {
            opacity: 0.66;
            color: white;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.5;
            margin-top: 20px;
        }
    }
}
