.wrapper--body {
    background-color: #f7f7f7;
}

.filter {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 24px 0 44px;
    list-style-type: none;
    &__item {
        padding: 2px 9px;

        a {
            text-decoration: none;
            padding: 5px 9px;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            text-transform: uppercase;
            color: #474241;
        }

        &--active a {
            background-color: #a19795;
            color: white;
            font-weight: 700;
        }
    }
    
}

.works {
    display: block;
    margin-bottom: 30px;
}