.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 24px 0 44px;
    list-style-type: none;

    &__item {

        padding: 2px 9px;

        a {
            text-decoration: none;
            padding: 5px 9px;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            text-transform: uppercase;
            color: #474241;
            transition: all 0.5s;
        }

        &:hover a,
        &--active a {
            background-color: #a19795;
            color: white;
        }

        &--active a {
            font-weight: 700;
        }
    }

}