.footer {
    &__copy {
        opacity: 0.5;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-weight: 300;
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;
        margin-bottom: 18px;
    }
}