.header {
    text-align: center;
    padding: 30px 0;
}

.link-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 15px 0;
    position: relative;

    &__item {
        padding: 10px 18px;
        a {
            text-decoration: none;
            color: #a19795;
            font-weight: 400;
        }
        &--active a {
            color: #474241;
            font-weight: 700;
        }
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        height: 10px;
        width: calc(100vw - 20px);
        top: 63px;
        background-image: url(../img/shadow.png);
        background-repeat: no-repeat;
        background-position: bottom;
    }
}