.header {
    text-align: center;
    padding: 30px 0;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        display: block;
        height: 10px;
        width: calc(100vw - 20px);
        bottom: 24px;
        background-image: url(../img/shadow.png);
        background-repeat: no-repeat;
        background-position: bottom;
    }
}