.link-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 25px 0;
    position: relative;

    &__item {
        position: relative;
        a {
            text-decoration: none;
            color: #a19795;
            font-weight: 400;
            padding: 10px 18px;
        }
        &--active a {
            color: #474241;
            font-weight: 700;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 10%;
            width: 80%;
            height: 2px;
            background-color: #a19795;
            opacity: 0;
            transition: all 0.5s;
            transform: translateY(50px);
        }
        &:hover::after, &--active::after {
            opacity: 1;
            transform: translateY(0);
        }
        &--active::after {
            color: #474241;
        }
    }
    
    &--smaller {
        justify-content: flex-start;
        padding: 0;
        margin-left: -12px;

        &__item {
            padding: 10px 7px;
            &::after {
                transform: translate(0);
                bottom: 0;
                width: 77%;
                bottom: 5px;
            }
        }
        a{
            color: white;
            font-size: 12px;
            padding: 10px 6px;
        }
        
        &::after {
            content: none;
        }
    }
}