.logo {
    transform: rotateZ(-45deg);
    transition: all 0.5s;
    &--header {
        height: 50px;
        width: 50px;
        margin: 10px;
        &:hover {
            transform: scale(1.5) rotateZ(-45deg);
        }
    }

    &--summary {
        margin: 45px 15px 0;
        display: block;
    }
}