.wrapper--body {
    background-color: #f7f7f7;
    padding-bottom: 19px;
}

.wrapper--summary {
    background-color: #605a58;
    padding: 10px 0 14px;
}

.wrapper--footer {
    background-color: #474241;
}