body {
    background-color: #121116;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

div {
    
}

h1 {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
}

hr {
    width: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
}

a img {
    margin-left: 15px;
    margin-right: 15px;
}

.main {
    margin: 40px;
    margin-bottom: 60px;
}

.footer a {
    text-decoration: none;
    color: #01C0F1;
}