@import url('https://fonts.googleapis.com/css?family=Oleo+Script:700|Playfair+Display|Roboto:100,300,400');

/* 
font-family: 'Oleo Script', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif; 
*/

.wrapper {
    width: 100%;
}

.container {
    max-width: 1212px !important;
}

.wrapper__header {
    background-image: url("./img/header__bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* padding-bottom: 56.25%; */
    background-size: 100% auto;
    color: white;
}

.wrapper__header:first-child {
    padding-top: 50px;
}

.contact__address {
    vertical-align: middle;
}

.contact__address p{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    margin: 0;
}

.contact__address p {
    margin-left: 10px;
}

.header__logo {
    text-align: center;
}

.contact__digital {
    text-align: right;
}

[class*="contact"] svg path{
    fill: grey;
}

.contact__img {
    position: relative;
    display: inline-block;
    border: 1px solid grey;
    height: 45px;
    width: 45px;
    margin-top: 7px;
}

.contact__img + .contact__img {
    margin-left: 10px;
}

.contact__img > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contact__img:hover {
    border-color: #b4a08c;
}

.contact__img:hover > *, .contact__img:hover > * > * {
    color: #b4a08c;
    fill: #b4a08c;
}

.menu {
    margin-top: 90px;
}

.menu__list {
    padding: 0;
    text-align: center;
}

.menu__list li {
    display: inline-block;
}

.menu__list li +li {
    margin-left: 86px;
}

.menu__list li > a {
    position: relative;
    font-family: 'BebasNeueRegular'; 
    color: #b4a08c;
    text-transform: uppercase;
    font-size: 21px;
    /* opacity: 0.8; */
    line-height: 20px;
}

.menu__list li > a:hover, .menu__list li > a:active {
    color: #c99551;
    text-decoration: none;
}

.menu__list li > a:hover::after, .menu__list li > a:active::after {
    content: "";
    position: absolute;
    top: 27px;
    left: 0;
    border: 0.5px solid #c99551;
    width: 100%;
}

.welcome {
    display: flex;
    /* flex-direction: column; */
    text-align: center;
}

.welcome h1 {
    font-family: 'Oleo Script', cursive;
    color: #eaeaea;
    font-size: 72px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 143px;
    margin-left: -13px;
}

.welcome img {
    width: 20%;
    margin-top: 37px;
    margin-left: -5px;
}
.welcome p {
    font-family: 'Roboto', sans-serif;
    opacity: 0.55;
    color: #eaeaea;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 23px;
}

.welcome__helper {
    margin-left: 5px;
}

* > .btn__next {
    text-align: center;
}

.btn__next {
    margin-top: 170px;
    opacity: 0.5;
    margin-bottom: 92px;
}

.btn__next a:hover *, .btn__next a:active * {
    fill: #b4a08c;
    color: #b4a08c;
}

.about-us {
     margin-top: 200px;
}

.about-us__description {
    position: relative;
    z-index: 1;
    margin-top: 52px;
}

.about-us__description h1 {
    font-family: 'Playfair Display', serif;
    color: #323246;
    font-size: 40px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 25px;
    text-transform: capitalize;
}

.about-us__description h1 + p {
    margin-top: 70px;
}
.about-us__description p {
    font-family: 'Roboto', sans-serif;
    opacity: 0.6;
    color: #323246;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    width: 550px;
    margin-bottom: 26px;
}

.about-us__description p + p {
    margin-bottom: 44px;
}

.about-us__description::after {
    content: "";
    z-index: -1;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    height: 435px;
    width: 681px;
    background-color: #fff;
}

.about-us__description h1::after {
    content: "";
    position: absolute;
    top: 86px;
    left: -40px;
    width: 85px;
    border: 0.5px solid #dadadd;
}

.btn__about-us {
    width: 148px;
    height: 44px;
    position: relative;
    border: 1px solid #d6d6da;
    padding: 5px;
}

.btn__about-us a {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #5b5b6b;
}

.btn__about-us:hover a {
    color: #c99551;
    text-decoration: none;
}

.about-us__img {
    margin-right: -130px;
}

.wrapper__news {
    background-color: #f7f7f7;
    clip-path: polygon(
        0 3.2vw,
        100% 0,
        100% calc(100% - 3.2vw),
        0 100%
    );
    padding-top: 137px;
    padding-bottom: 59px;
    margin-top: 144px;
}

.row.news__row {
    margin-left: -10px;
    margin-right: -10px;
}

.row.news__row >[class*="col"] {
    padding-left: 10px;
    padding-right: 10px;
}


.news__header {
    text-align: center;
}

.news__row img {
    margin-top: 94px;
    margin-bottom: 30px;
}

.news__header h1 {
    color: #323246;
    font-family: 'Playfair Display', serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 20px;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
}

.news__header h1::after {
    content: "";
    position: absolute;
    top: 61px;
    left: 38px;
    width: 80px;
    border: 0.5px solid #dadadd;
}

.news__row {
    text-align: center;
    position: relative;
}

.news__row h2 {
    opacity: 0.4;
    color: #323246;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.news__row h1 {
    color: #323246;
    font-family: 'Playfair Display', serif; 
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-decoration: underline;
    text-decoration-color: #dadadd;
    text-underline-position: under;

}

.news__row p {
    opacity: 0.6;
    color: #323246;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 28px;
}

.news__row__card:hover img {
    margin-top: 109px;
    margin-bottom: 15px;
}

.news__row__card:hover h1 {
    color: #b4a08c;
}

.news__more {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 68px;
}

.news__more__btn {
    position: relative;
    display: inline-block;
    width: 151px;
    height: 44px;
    border: 1px solid rgba(50, 50, 70, 0.2);
}

.news__more__btn a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #323246;
    font-family: 'Playfair Display', serif; 
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

.news__row::before {
    content: url('arrow.svg');
    display: block;
    position: absolute;
    top: 48%;
    transform: translate(-50%);
    transform: rotate(180deg);
    left: -100px;
}

.news__row::after {
    content: url('arrow.svg');
    display: block;
    position: absolute;
    top: 49%;
    transform: translate(-50%);
    right: -135px;
}

.news__more__btn:hover a, .news__more__btn:active a {
    color: #c99551;
    text-decoration: none;
    
}

