
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:600,800');

body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.wrapper {
    width: 100%;
}
.row {
    margin: 0 -15px;
    padding-bottom: 15px;
}

.col {
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
}

.col-1 {
    width: 8.333333333333333%;
}

.col-2 {
    width: 16.66666666666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333%;
}

.col-6 {
    width: 50%;
}

.col-12 {
    width: 100%;
}

.wrapper {
    display: none;
}

/* .clearfix {
    overflow: auto;
} */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    text-align: center;
    color: #f7f7f1;
    background-image: url('./img/background__footer.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    padding-top: 90px;
    padding-bottom: 50px;
}

.footer__logo {
    margin-bottom: 45px;
}

.footer__link {
    text-decoration: none;
    color: #f7f7f1;
}

.hide {
    text-align: center;
    background-color: #1e1e1e;
    height: 100vh;
}

.hide__text {
    display: inline;
    color: #f7f7f1;
    text-transform: uppercase;
    margin: 0; 
    letter-spacing: 5px;
    font-size: 50px;
    border-bottom: 5px solid #f7f7f1;
}

.vertical_align {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.wrapper__header {
    background-image: url('./img/header__background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
}

.header {
    padding-top: 50px;
}

.header__menu {
    text-align: right;
}

.header__menu button {
    color: #f7f7f1;
    border: none;
    background: none;
    font-size: 24px;
}

.btn__close {
    display: none;
}

.header__motto {
    color: #f7f7f1;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 150px;
}
.header__motto_centered {
    display: inline-block;
    
}

.header__motto_centered h1{
    display: inline;
}

.header__motto_thin {
    font-weight: 600;
    text-decoration: line-through;
}

.header__motto_centered-left {
    margin-left: -20px;
}

.dash_long {
    letter-spacing: -7px;
}

.social {
    list-style-type: none;
    margin-top: 150px;
    font-size: 20px;
}

.social li {
    display: inline-block;
}

.social a {
    color: #f7f7f1;
    margin-left: 10px;
}

.wrapper__grey {
    background-color: #f7f7f1;
}

.wrapper__about {
    padding-top: 150px;
    padding-bottom: 150px;
}

.about__header {
    text-align: center;
    
}

.about__text {
    margin-top: 50px;
    line-height: 2;
    font-weight: 600;
}

.about__btn {
    border: none;
    background: none;
    color: blue;
    font-weight: bold;
    font-size: 16px;
}

.about__more_hidden {
    display: none;
}

.wrapper__contact {
    padding-top: 150px;
    padding-bottom: 150px;
    border: 1px solid red;
}

.helper {
    margin-left: 24px;
}

.contact__header {
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.contact__social ul {
    padding: 0;
}

.contact__social a {
    color: black;
    padding: 0; 
}

.contact__info h2 {
    text-transform: uppercase;
}

.contact__info a {
    color: inherit;
    text-decoration: none;
}

