
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:600,800');

body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.wrapper {
    width: 100%;
}
.row {
    margin: 0 -15px;
    padding-bottom: 15px;
}

.col {
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
}

.col-1 {
    width: 8.333333333333333%;
}

.col-2 {
    width: 16.66666666666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333%;
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: 66.66666%
}

.col-12 {
    width: 100%;
}

.wrapper {
    display: none;
}

/* .clearfix {
    overflow: auto;
} */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    text-align: center;
    color: #f7f7f1;
    background-image: url('./img/background__footer.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    padding-top: 90px;
    padding-bottom: 50px;
}

.footer__logo {
    margin-bottom: 45px;
}

.footer__link {
    text-decoration: none;
    color: #f7f7f1;
}

.hide {
    text-align: center;
    background-color: #1e1e1e;
    height: 100vh;
}

.hide__text {
    display: inline;
    color: #f7f7f1;
    text-transform: uppercase;
    margin: 0; 
    letter-spacing: 5px;
    font-size: 50px;
    border-bottom: 5px solid #f7f7f1;
}

.vertical_align {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.wrapper__header {
    background-image: url('./img/header__background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
}

.header {
    padding-top: 50px;
}

.header__menu {
    text-align: right;
}

button:hover, button:focus {
    cursor: pointer;
    color: black;
}

button:active {
    /* outline: ridge; */
}

.header__menu button {
    color: #f7f7f1;
    border: none;
    background: none;
    font-size: 24px;
}

.btn__close {
    display: none;
}

.header__motto {
    color: #f7f7f1;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 150px;
}
.header__motto_centered {
    display: inline-block;
    
}

.header__motto_centered h1{
    display: inline;
}

.header__motto_centered-left {
    text-align: left;
}

.header__motto_thin {
    font-weight: 600;
    text-decoration: line-through;
}

.header__motto_centered-right {
    text-align: right;
    position: relative;
}

.dash__before::before {
    content: "";
    display: inline-block;
    border-bottom: 10px solid #f7f7f1;
    width: 140px;
    position: absolute;
    top: 36px;
    left: 0;
}

.dash_long {
    letter-spacing: -7px;
}

.social {
    list-style-type: none;
    margin-top: 150px;
    font-size: 20px;
}

.social li {
    display: inline-block;
}

.social a {
    color: #f7f7f1;
    margin-left: 10px;
}

.wrapper__grey {
    background-color: #f7f7f1;
}

.wrapper__about {
    padding-top: 150px;
    padding-bottom: 150px;
}

.about__header {
    text-align: center;
    
}

.about__text {
    margin-top: 50px;
    line-height: 2;
    font-weight: 600;
}

.about__btn {
    border: none;
    background: none;
    color: blue;
    font-weight: bold;
    font-size: 16px;
}

.about__more_hidden {
    display: none;
}

.wrapper__work {
    padding: 50px;
    text-align: center;
    box-sizing: border-box;
}

.work__header h1{
    margin: 0;
}

.work__header {
    display: inline-block;
    text-align: center;
    line-height: 1;
    width: 200px;
    text-transform: uppercase;
}

.work__header-left {
    text-align: left;
    position: relative;
}

.work__header-left::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 13px;
    right: 0;
    border-bottom: 5px solid black;
    width: 90px;
}

.work__header-right {
    text-align: right;
}

.img1-1 {
    margin-bottom: 150px;
}

.img1-2 {
    margin-bottom: 80px;
}

.img2-1 {
    margin-top: 450px;
}

.img2-2 {
    margin-top: 90px;
    margin-left: -200px;
}

.img3-1 {
    margin-top: 70px;
    margin-left: -200px;
    margin-bottom: 120px;
}

.img3-3 {
    margin-top: 115px;
}

.work__footer__more {
    border: none;
    background-color: transparent;
}

.work__footer__more:hover {
    background-color: #aeaeae;
    border-radius: 5px;
}

.work__footer__more h2{
    text-transform: uppercase;  
    margin-bottom: -5px; 
    line-height: 1;
}

.work__footer__more::after {
    content: "";
    display: inline-block;
    border-top: 2px solid black;
    width: 35px;
}

.wrapper__contact {
    padding-top: 150px;
    padding-bottom: 150px;
}

.contact__header {
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    padding-bottom: 100px;
}


.contact__header-align {
    display: inline-block;
    text-align: center;
    width: 165px;
}

.contact__header-align h1{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
}

.contact__header-align-left {
    position: relative;
    text-align: left;
}
.contact__header-align-left::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 13px;
    right: 0;
    border-bottom: 5px solid black;
    width: 55px;

}

.contact__header-align-right {
    text-align: right;
}

.contact__social > ul {
    padding: 0;
    margin-top: 180px;
}

.contact__social a {
    color: black;
    padding: 0; 
}

.contact__info h2 {
    text-transform: uppercase;
    margin: 0;
}

.contact__info a {
    color: inherit;
    text-decoration: none;
}

.footer__map img{
    height: 400px;

}

.contact__column {
    padding-left: 160px;
}

.contact__info p {
    margin-top: 5px;
    line-height: 2;
}

.email {
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 3px;
    border-bottom: 2px solid black;

}