body {
    background-color: rgb(154, 9, 9);
}
.content td {
    padding: 5px;
}
.main{
    width: 100%;
}
.title {
    text-align: center;
}
.secondary {
    margin: 0px;
    width: 100%;
    background-color: black;
    text-align: center;
}
.top_nav {
    color: white;
    text-decoration: none;
}
.img_nav {
    padding: 1px;
    margin: 1px;
    width: 200px;
}
figcaption {
    padding: 1px;
    margin: 1px;
}
.content {
    font-size: 18px;
}
.menu {
    width: 15%;
    background-color: rgb(125, 9, 9);
    vertical-align: top;
}
.article {
    color: white;
    vertical-align: top;
}
.article_text {
    margin-top: 0px;
}
.news {
    width: 15%;
    background-color: rgb(227, 221, 221);
}
.left_nav {
    color: rgb(226, 108, 36);
    padding-bottom: 20px;
}
.footer {
    background-color: rgb(233, 91, 17);
    text-align: center;
    color: white;
}
.footer_text {
    padding: 0px;
    margin: 0px;
}
h4 {
    margin-top: 0px;
    font-weight: normal;
    background-color: rgb(189, 189, 189);
    text-align: center;
}
hr {
    border: 1px solid rgb(189, 189, 189);
    width: 80%;
}
