<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Portfolio
        link(rel="stylesheet", href="style/style.css")
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    body
        .wrapper.wrapper--body
            .container
                .header
                    .row
                        .col
                            a(href="#")
                                img(src="./img/logo.png", alt="").logo.logo--header
                    .row
                        .col
                            ul.link-list
                                li.link-list__item.link-list__item--active 
                                    a(href="javascript:void(0)") PORTFOLIO
                                li.link-list__item 
                                    a(href="javascript:void(0)") ABOUT ME
                                li.link-list__item 
                                    a(href="javascript:void(0)") RESUME
                                li.link-list__item 
                                    a(href="javascript:void(0)") CONTACT
            .container
                .row
                    .col
                        ul.filter
                            li.filter__item.filter__item--active
                                a(href="javascript:void(0)") All
                            li.filter__item
                                a(href="javascript:void(0)") MOBILE APPS
                            li.filter__item
                                a(href="javascript:void(0)") WEB SITES
                            li.filter__item
                                a(href="javascript:void(0)") LOGOS
                            li.filter__item
                                a(href="javascript:void(0)") PHOTOGRAPHY
                            li.filter__item
                                a(href="javascript:void(0)") OTHERS
                .row
                    .col
                        a(href="javascript:void(0)").works
                            img(src="./img/works/img-1.jpg", alt="")
                    .col
                        a(href="javascript:void(0)").works
                            img(src="./img/works/img-2.jpg", alt="")
                    .col
                        a(href="javascript:void(0)").works
                            img(src="./img/works/img-3.jpg", alt="")
                    .col
                        a(href="javascript:void(0)").works
                            img(src="./img/works/img-4.jpg", alt="")
                    .col
                        a(href="javascript:void(0)").works
                            img(src="./img/works/img-5.jpg", alt="")
                    .col
                        a(href="javascript:void(0)").works
                            img(src="./img/works/img-6.jpg", alt="")
                    .col
                        a(href="javascript:void(0)").works
                            img(src="./img/works/img-7.jpg", alt="")
                    .col
                        a(href="javascript:void(0)").works
                            img(src="./img/works/img-8.jpg", alt="")
                    .col
                        a(href="javascript:void(0)").works
                            img(src="./img/works/img-9.jpg", alt="")
                    .col
                        a(href="javascript:void(0)").works
                            img(src="./img/works/img-10.jpg", alt="")
                    .col
                        a(href="javascript:void(0)").works
                            img(src="./img/works/img-11.jpg", alt="")
                    .col
                        a(href="javascript:void(0)").works
                            img(src="./img/works/img-12.jpg", alt="")
                    .col
                        a(href="javascript:void(0)").works
                            img(src="./img/works/img-13.jpg", alt="")
                    .col
                        a(href="javascript:void(0)").works
                            img(src="./img/works/img-14.jpg", alt="")
                    .col
                        a(href="javascript:void(0)").works
                            img(src="./img/works/img-15.jpg", alt="")
                    .col
                        a(href="javascript:void(0)").works
                            img(src="./img/works/img-16.jpg", alt="")
        .wrapper.wrapper--footer
            .container.container--smaller
                .row.no-gutters
                    .col.col-8
                        .about
                            .about__info
                                .row.no-gutters
                                    .col.col-2
                                        a(href="#")
                                            img(src="./img/logo footer.png", alt="").logo.logo--footer
                                    .col
                                        .contact
                                            h3.contact__header Ganesh Krishnan R
                                            p <i class="fas fa-map-marker-alt"></i> Kannur, Kerala, India.
                                            ul.social-list
                                                li.social-list__item
                                                    a.social-list__link(href="javascript:void(0)") <i class="fab fa-facebook-f"></i>
                                                li.social-list__item
                                                    a.social-list__link(href="javascript:void(0)") <i class="fab fa-linkedin-in"></i>
                                                li.social-list__item
                                                    a.social-list__link(href="javascript:void(0)") <i class="fab fa-behance"></i>
                                                li.social-list__item
                                                    a.social-list__link(href="javascript:void(0)") <i class="fas fa-band-aid"></i>
                                                li.social-list__item
                                                    a.social-list__link(href="javascript:void(0)") <i class="fab fa-instagram"></i>
                            .about__text
                                p   I a am front end UI designer and developer with a strong eye for creative, modern and trendy
                                    |designs. I am an internet bug who try to keep up with the latest trends and tech-nologies. I
                                    |love photography and have been doing photography professionally and as a hobby for past
                                    |couple of years. Hence my graphic designing, image editing and manip- ulation skills have
                                    |been growing with me during these years...

                    .col.col-4
                        .skills
                            .row
                                .offset-1
                                .col
                                    h3.skills__header My Skills
                            .bar
                                p.bar__name Ps
                                .bar__content
                                    .bar__content--fill#fillPs
                            .bar
                                p.bar__name Ai
                                .bar__content
                                    .bar__content--fill#fillAi
                            .bar
                                p.bar__name Cdr
                                .bar__content
                                    .bar__content--fill#fillCdr
                            .bar
                                p.bar__name Fl
                                .bar__content
                                    .bar__content--fill#fillFl
                            .bar
                                p.bar__name Dw
                                .bar__content
                                    .bar__content--fill#fillDw
                            .bar
                                p.bar__name Pr
                                .bar__content
                                    .bar__content--fill#fillPr
        .wrapper.wrapper--subfooter
            .container.container--smaller
                .row
                    .footer--main
                        .col
                            p aaas
                        .col
                            p asssa