table {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-size: 20px;
    color: grey;
}

.links {
    text-decoration: none;
    font-style: italic;
    color: black;
}

.header {
    padding-bottom: 50px;
}

.main {
    padding-bottom: 50px;
    text-align: center;
}

.text_top {
    font-weight: 600;
    font-size: 25px;
    margin-left: -50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.text_bot {
    font-weight: 500;
    font-size: 20px;
    padding-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.logo {
    float: left;
}

.description {
    float: left;
    margin-top: 20px;
    font-size: smaller;
    color: grey;
}

.info {
    font-size: smaller;
    color: grey;
}