/* font-family: 'Rufina', serif;
font-family: 'Open Sans', sans-serif; */
body {
    font-family: 'Rufina', serif;
}

.container {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.row {
    display: flex;
    margin: 0 -20px;
}
.col {
    padding: 0 20px;
    flex: 1;
}
.col-3 {
    width: calc(100/12*3%);
    padding: 0 10px;
}
.col-4 {
    width: calc(100/12*4%);
    padding: 0 20px;
}
.col-8 {
    width: calc(100/12*8%);
    padding: 0 20px;
}
.logo__row {
    padding-top: 29px;
    display: flex;
    justify-content: center;
}

.logo img, .footer__logo img{
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
    transition: 1s;
    transform: rotate(-360deg);
}

.logo:hover img, .footer__logo:hover img{
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
    transition: 1s;
    transform: rotate(360deg);
}

.main__menu {
    padding-top: 26px;
    position: relative;
}

.main__menu::after {
    content: "";
    display: block;
    background-image: url("../img/shadow\ menu.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 65px;
    left: 0;
    background-size: 100% auto;
  height: 30px;
  width: 100%;
}

.main__menu__list, .section__menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu__item, .section__menu__item {
    padding: 0;
    margin: 0;
}
.menu__item_link {
    position: relative;
    text-decoration: none;
    padding: 18px;
    font-size: 16px;  
    color: #a19795;
    font-weight: 400;
}

.menu__item_link::after {
    position: absolute;
    content: "";
    width: calc(100% - 18px*2);
    border: 1px solid black;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.3s;
}

.menu__item_link:hover {
    color: #474241;
    font-weight: bold;
}
.menu__item_link:hover::after {
    top: 40px;
    opacity: 1;
}

.menu__item_link--active {
    color: #474241;
    font-weight: 700;
}

.menu__item_link--active::after {
    top: 40px;
    opacity: 1;
}

.section__menu {
    padding-top: 69px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
}

.section__menu__item {
    padding: 12px 9px;
}

.section__menu__link {
    padding: 4.5px 8.5px;
    text-decoration: none;
    color: #474241;
}

.section__menu__link:hover {
    color: white;
    background-color: #a19795;  
}

.section__menu__link--active {
    color: white;
    background-color: #a19795;
}





.works {
    padding-bottom: 57px;
    text-align: center;
}

.works> .row {
    padding-top: 34px;
}

.works > .row:last-child {
    padding-top: 38px;
}

.works-img {
    display: flex;
    justify-content: center;
}

.works-img img {
    display: block;
    filter: saturate(1000);    
}

.works-img:hover {
    filter: sepia(1);
}

.wrapper > .footer {
    width: 100%;
    background-color: #605a58;
}

.footer {
    padding-top: 35px;
    padding-bottom: 14px;
}

.footer__info {
    padding-left: 32px;
}

.footer__social {
    display: flex;
    padding-top: 18px;
    justify-content: center;
}

.footer__contact p {
    margin: 0;
    opacity: 0.5;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    padding-top: 16px;
    padding-left: 2px;
}

.footer__contact p i {
    font-size: 12px;
    line-height: 1.5em;
}
.footer__contact h1, .footer__skills h1 {
    margin: 0;
    color: white;
    font-size: 28px;
    font-weight: 400;
    display: flex;
}

.footer__info {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    padding-left: 18px;
    justify-content: space-between;
}

.social__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.social__item {
    background-color: #474241;
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.social__item + .social__item {
    margin-left: 16px;
}

.social__link {
    color: #a19795;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

.social__item:hover {
    background-color: #f79440;
}

.social__link i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.footer__description {
    opacity: 0.66;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    /* letter-spacing: -0.02em; */
    line-height: 24px;
    padding-top: 4px;
    padding-left: 32px;
    padding-right: 1px;

}

.footer__skills {
    padding-left: 11px;
    padding-right: 33px;
}

.footer__skills h1 {
    padding-bottom: 17px;
    padding-left: 16px;
}

.footer__skills p {
    padding: 0;
    margin: 0;
    padding-right: 16px;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.1em;
    color: white;
    letter-spacing: -0.03em;
}

.bar__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    padding-top: 15px;
}

.bar {
    width: 264px;
    height: 14px;
    background-color: #908c8a;
    position: relative;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 0px;
    background-color: #474241;
}

.bar:hover  {
    background-color: white;;
}

.bar:hover .fill {
    background-color: #f79440;
}

.footer__secondary {
    background-color: #474241;
    padding-top: 10px;
    padding-bottom: 23px;
}

.footer__menu {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}

.footer__menu__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer__menu__item_link {
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #878381;
    padding: 13.5px;
    position: relative;
}


.footer__menu__item_link::after  {
    content: "";
    position: absolute;
    left: 12px;
    bottom: 8px;
    width: calc(100% - 13.5*2px);
    border: 0.5px solid white;
    opacity: 0;
    transition: 5ms;
}


.footer__menu__item_link:hover, .footer__menu__item_link:hover::after {
    color: white;
    opacity: 1;
}

.footer__menu__item_link--active {
    color: white;
}

.footer__menu__item_link--active::after  {
    content: "";
    position: absolute;
    left: 12px;
    bottom: 8px;
    width: calc(100% - 13.5*2px);
    border: 0.5px solid white;
    opacity: 1;
}

.copy {
    display: flex;
    justify-content: flex-end;
    padding-right: 34px;
    padding-top: 6px;
}

.copy p{
    opacity: 0.5;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin: 0;
}