@keyframes drop {
    0% {
        visibility: hidden;
        bottom: 50px;
        opacity: 0;
    }

    100% {
        visibility: visible;
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes up {
    
    from {
        padding-top: 60px; 
        padding-bottom: 0px;
    }

    to {
        padding-top: 30px; 
        padding-bottom: 18px;
        background-color: rgba(49, 194, 109, 0.8);}
}

@keyframes fill {

    from {
        border-radius: 4px;
    }

    to {
        border-radius: 25px;
        background-color: #2ec06c;
        color: white;
    }
}