@media only screen and (max-width : 992px) {
    h1 {
        font-size: 2em !important;
    }
    .header {
        padding: 10px 0 30px;
    }
    .btn {
        display: inline-block;
    }
    
    .btn + .btn {
        margin-left: 0;
        margin-block-start: 10px;
    }
    
    .about {
        min-height: 1000px;
    }
    .slider-2 {
        position: relative;
        width: 100%;
        max-height: 500px;
        padding-top: 20px;
    }

    [class*="col-"] {
        max-width: 100%;
        flex: 1;
    }
    .menu {
        /* width: 40vw; */
    }
    .menu * {
        padding: 0;
    }
    .services__card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .offset-1 {
        display: none;
    }
    .social {
        flex-wrap: nowrap;
    }
    
    .clients__slider {
        padding: 44px 30px;
    }
    .swiper-button-next {
        right: 10px;
    }
    
    .swiper-button-prev {
        left: 10px;
    }
    .intro .swiper-pagination {
        top: 58%;
    }
    .feedback {
        padding: 10px 0 20px;
    }
}
