/* font-family: 'Asap', sans-serif;
font-family: 'Karla', sans-serif; */
@import 'animations.css';

* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Karla', sans-serif;
}

a {
    white-space: nowrap;
}

.wrapper {
    width: 100%;
}

.wrapper, .menu {
    transition-duration: 0.5s;
}

.menu__btn {
    position: fixed;
    right: 15vw;
    top: 3.7vh;
    z-index: 1000;
    
}

.menu__btn:hover {
    cursor: pointer;
    filter: invert(0.7);
}

.menu__btn--closed {
    visibility: visible;
    opacity: 1;
    transition-duration: 0.5s;
}

.menu__btn--open {
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.5s;
}

.menu {
    position: fixed;
    right: 0;
    height: 100vh;
    background-color: #171717;
    z-index: 1000;
    padding-top: 42px;
    width: 0px;
}

.menu * {
    padding-left: 30px;
}

.menu ul {
    margin: 0;
    padding: 0;
    padding-top: 32px;
}

.menu li {
    list-style-type: none;
   
}

.menu__link {
    font-family: 'Asap', sans-serif;
    color: #c4c4c4;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.6;
    white-space: nowrap;
}

.menu__link:hover {
    color: white;
}

.menu__link--active {
    color: white;
    font-weight: 700;
}

.header {
    background-image: url(../img/header_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 636px;
    color: white;
    padding-top: 40px;
}

.intro {
    padding-top: 80px;
}

.intro h1{
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.12;
}

.intro h1 .bolder {
    letter-spacing: 0.02em;
}

.bolder {
    font-weight: 700;
}

.cards {
    padding-top: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__name {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 10;
}

.card__img {
    position: relative;
    height: 52px;
    width: 52px;
    border: 1px solid white;
    border-radius: 4px;
}

.card img {
    /* display: block; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card h2 {
    padding-top: 5px;
    position: relative;
    font-weight: 400;
}

.card h2::before {
    content: ".";
    position: absolute;
    left: -5px;
    bottom: 0;
}
.card__link {
    height: 0px;
    visibility: hidden;
    position: relative;
    z-index: 0;
}

.card__link a {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 2.5px;
    display: block;
    padding: 23px 66px;
    text-decoration: none;
}

.card:hover .card__name {
    animation: up 1;
    animation-fill-mode: both;
    animation-duration: 1s;
    position: relative;
}

.card:hover .card__link {
    background-color: #27ae60;
    height: 50px;
    opacity: 0;
    animation: drop 1;
    animation-fill-mode: both;
    animation-duration: 1s;
    
}

.about {
    min-height: 584px;
    background-image: url(../img/about__bg.png);
    background-position: top;
    background-repeat: repeat-y;
    background-size: cover;
    position: relative;

}

.about__header {
    color: #191919;
    font-family: 'Asap', sans-serif;
    font-size: 30px;
    line-height: 1;
    font-weight: 400;
    padding-top: 77px;
    margin-bottom: 18px;
}

.about p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.85;
    text-align: justify;
    padding-bottom: 46px;
}

.slider-2 {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(50% - 10px);
}

.slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 584px;
    /* z-index: -1000; */
}

.slide-1 {
    background-image: url(../img/slide_1.jpg);
}
.slide-2 {
    background-image: url(../img/slide_2.jpg);
}
.slide-3 {
    background-image: url(../img/slide_3.jpg);
}

#pagination-2 {
    transform: rotate(90deg);
    bottom: 48%;
    left: 13px;
    width: auto;
}

#pagination-2 .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: 0.8;
    margin: 5px 2px;
}

#pagination-2 .swiper-pagination-bullet-active {
    background-color: #30c26d;
}

.btn {
    cursor: pointer;
    font-family: 'Asap', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    padding: 18.5px 64px;
    color: #2ec06c;
    text-decoration: none;
    border: 1px solid #2ec06c;
    border-radius: 4px;
}

.btn--hire_me {
    padding: 18.5px 68px;
}

.btn + .btn {
    margin-left: 14px;
}

.btn:hover {
    animation: fill 1 0.5s;
    animation-fill-mode: both;
}

.services {
    padding: 96px 0 20px;
    min-height: 598px;
}

.services h2, .services h3 {
    font-family: 'Asap', sans-serif;
    margin: 0;
}

.services__header {
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    padding-bottom: 15px;
}

.services__subheader {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    padding-bottom: 40px;
}

.services__card {
    display: flex;
    padding-top: 15px;
    padding-bottom: 8px;
}

.services__text h2 {
    font-size: 20px;
    line-height: 1.5;
}

.services__text p {
    color: #666;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 7px;
    text-align: justify;
}

.services__img {
    margin: 6px 14px;
    padding-right: 19px;
}

.clients {
    background-image: url(../img/clients__bg.jpg);
    background-position: 0 -80px;
    background-size: cover;
    min-height: 350px;
    background-repeat: no-repeat;
    position: relative;
}

.clients__header {
    color: white;
    font-family: 'Asap', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding-top: 58px;
}

.clients__slider {
    padding: 44px 67px;
}

.slider-3 {
    overflow: hidden;
}

.slider-3 .swiper-slide {
    width: auto !important;
    min-height: 48px;
}

.client__link {
    filter: brightness(0) invert(1);
}

.client__link:hover {
    filter: none;
    transition-duration: 0.5ms;
}

.slider-3 .swiper-wrapper {
    display: flex;
    align-items: baseline;
}

.slider-3__btn {
    background-size: 6px 6px;
    height: 10px;
    width: 10px;
    top: 60%;
    stroke: gray;
    border: 1px solid grey;
    border-radius: 50%;
    padding: 7px;
}

.slider-3__btn:hover {
    border-color: #27ae60;
}

.swiper-button-next:hover {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%2330804f'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev:hover {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%2330804f'%2F%3E%3C%2Fsvg%3E");

}

.swiper-button-next {
    right: 51px;
}

.swiper-button-prev {
    left: 52px;
}

