@import 'animations.css';

* {
    scroll-behavior: smooth
}

h1,h2,h3,h4 {
    font-family: 'Asap',sans-serif;
    font-weight: 400
}

body {
    font-family: 'Karla',sans-serif
}

a {
    white-space: nowrap
}

.wrapper {
    width: 100%;
    overflow: hidden
}

.menu,.wrapper {
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s
}

.menu__btn {
    position: fixed;
    right: 15vw;
    top: 3.7vh;
    z-index: 1000
}

.menu__btn:hover {
    cursor: pointer;
    -webkit-filter: invert(.6)!important;
    filter: invert(.6)!important
}

.menu__btn--closed,.menu__btn--open {
    visibility: visible;
    opacity: 1;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s
}

.menu__btn--open {
    visibility: hidden;
    opacity: 0
}

.menu {
    position: fixed;
    right: 0;
    height: 100vh;
    background-color: #171717;
    z-index: 1000;
    padding-top: 42px;
    width: 0
}

.menu * {
    padding-left: 30px
}

.menu ul {
    margin: 0;
    padding: 32px 0 0
}

.menu li {
    list-style-type: none
}

.menu__link {
    font-family: 'Asap',sans-serif;
    color: #c4c4c4;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.6;
    white-space: nowrap
}

.menu__link:hover {
    color: #fff
}

.menu__link--active {
    color: #fff;
    font-weight: 700
}

.header {
    background-image: url(../img/header_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 636px;
    color: #fff;
    padding-top: 40px
}

.intro__header {
    padding-top: 107px
}

.intro {
    overflow: hidden;
    height: 71px;
    width: 800px
}

.intro .swiper-pagination {
    right: 35px;
    top: 69%
}

.intro .swiper-pagination-bullet {
    background-color: #4c4c4c;
    opacity: 1;
    height: 10px;
    width: 10px;
    margin: 4px 0
}

.intro .swiper-pagination-bullet-active {
    background-color: #fff;
    opacity: 1
}

.intro h1,.intro__header {
    font-family: 'Karla',sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.12;
    margin: 0
}

.intro h1 .bolder {
    letter-spacing: .02em
}

.bolder {
    font-weight: 700
}

.bolder--green {
    color: #2ec06c
}

.cards {
    padding-top: 40px
}

.card,.card__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.card {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.card__name {
    padding-top: 60px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    z-index: 10;
    position: relative;
    -webkit-transition: padding .5s,height .5s,background-color .5s;
    -o-transition: padding .5s,height .5s,background-color .5s;
    transition: padding .5s,height .5s,background-color .5s
}

.card__img {
    height: 52px;
    width: 52px;
    border: 1px solid #fff;
    border-radius: 4px
}

.card img,.dribble i,.facebook i,.instagram i,.twitter i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.about,.card h2,.card__img,.card__link {
    position: relative
}

.card h2 {
    font-family: 'Karla',sans-serif;
    padding-top: 5px;
    font-weight: 400
}

.card h2::before {
    content: ".";
    position: absolute;
    left: -5px;
    bottom: 0
}

.card__link {
    height: 50px;
    background-color: #27ae60;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotatex(90deg);
    -ms-transform: rotatex(90deg);
    transform: rotatex(90deg);
    -webkit-transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s,-webkit-transform .5s
}

.card__link a {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 2.5px;
    display: block;
    padding: 23px 66px;
    text-decoration: none;
    -webkit-transition: color .5s,padding .5s;
    -o-transition: color .5s,padding .5s;
    transition: color .5s,padding .5s
}

.card:hover .card__name {
    padding: 30px 0 18px;
    background-color: rgba(49,194,109,.8)
}

.card:hover .card__link {
    -webkit-transform: rotatex(0deg);
    -ms-transform: rotatex(0deg);
    transform: rotatex(0deg)
}

.about {
    min-height: 584px;
    background-image: url(../img/about__bg.png);
    background-position: top;
    background-repeat: repeat-y;
    background-size: cover
}

.about__header {
    color: #191919;
    font-family: 'Asap',sans-serif;
    font-size: 30px;
    line-height: 1;
    font-weight: 400;
    padding-top: 77px;
    margin-bottom: 18px
}

.about p,.services__text p {
    font-size: 16px;
    text-align: justify
}

.about p {
    font-weight: 400;
    padding-bottom: 46px;
    line-height: 1.85
}

.slider-2 {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(50% - 10px)
}

.slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 584px
}

.slide-1 {
    background-image: url(../img/about/slide_1.jpg)
}

.slide-2 {
    background-image: url(../img/about/slide_2.jpg)
}

.slide-3 {
    background-image: url(../img/about/slide_3.jpg)
}

#pagination-2 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 48%;
    left: 13px;
    width: auto
}

#pagination-2 .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: .8;
    margin: 5px 2px
}

#pagination-2 .swiper-pagination-bullet-active {
    background-color: #30c26d
}

.btn {
    cursor: pointer;
    font-family: 'Asap',sans-serif;
    font-size: 18px;
    line-height: 1.5;
    padding: 18.5px 64px;
    color: #2ec06c;
    text-decoration: none;
    border: 1px solid #2ec06c;
    border-radius: 4px;
    -webkit-transition: border-radius .5s,color .5s,background-color .5s;
    -o-transition: border-radius .5s,color .5s,background-color .5s;
    transition: border-radius .5s,color .5s,background-color .5s
}

.btn--hire_me {
    padding: 18.5px 68px
}

.btn+.btn {
    margin-left: 14px
}

.btn:hover {
    border-radius: 26px;
    background-color: #2ec06c;
    color: #fff
}

.services {
    padding: 96px 0 20px;
    min-height: 598px
}

.services h2,.services h3 {
    font-family: 'Asap',sans-serif;
    margin: 0
}

.services__header,.services__subheader {
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    padding-bottom: 15px
}

.services__subheader {
    font-size: 18px;
    line-height: 1.6;
    padding-bottom: 40px
}

.services__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 15px;
    padding-bottom: 8px
}

.services__text h2 {
    font-size: 20px;
    line-height: 1.5
}

.services__text p {
    color: #666;
    line-height: 1.25;
    margin-top: 7px
}

.services__img {
    margin: 6px 14px;
    padding-right: 19px
}

.clients {
    background-image: url(../img/clients__bg.jpg);
    background-position: 0 -80px;
    background-size: cover;
    min-height: 350px;
    background-repeat: no-repeat;
    position: relative
}

.clients__header {
    color: #fff;
    font-family: 'Asap',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding-top: 58px
}

.clients__slider {
    padding: 44px 67px
}

.slider-3 {
    overflow: hidden
}

.slider-3 .swiper-slide {
    width: auto!important;
    min-height: 48px
}

.client__link {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1)
}

.client__link:hover {
    -webkit-filter: none;
    filter: none
}

.slider-3 .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
}

.slider-3__btn {
    background-size: 6px 6px;
    height: 10px;
    width: 10px;
    top: 60%;
    stroke: gray;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 7px
}

.slider-3__btn:hover {
    border-color: #27ae60
}

.swiper-button-next:hover {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%2330804f'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-prev:hover {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%2330804f'%2F%3E%3C%2Fsvg%3E")
}

.work {
    padding: 68px 0 80px
}

.swiper-button-next {
    right: 51px
}

.swiper-button-prev {
    left: 52px
}

.work__header,.work__text {
    text-align: center
}

.work__header h2 {
    font-size: 30px;
    line-height: 1.333;
    color: #202020;
    margin-bottom: 22px
}

.work__text p {
    color: #666;
    font-size: 16px;
    line-height: 1.9;
    margin: 0 0 52px
}

.work-card {
    padding-bottom: 8px;
    margin-bottom: 19px;
    position: relative;
    background-color: #eee;
    border-radius: 0 0 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.work-card__name {
    text-align: center
}

.work-card__name h3 {
    letter-spacing: .03em;
    margin-top: 24px
}

.work-card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(46,192,108,.85);
    -webkit-transition: height .5s,opacity .5s;
    -o-transition: height .5s,opacity .5s;
    transition: height .5s,opacity .5s
}

.work-card__link {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 14px 34px 16px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-family: 'Asap',sans-serif;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .5s,background-color .5s;
    -o-transition: opacity .5s,background-color .5s;
    transition: opacity .5s,background-color .5s
}

.work-card:hover .work-card__overlay {
    height: 250px;
    opacity: 1
}

.work-card:hover .work-card__link {
    visibility: visible;
    opacity: 1
}

.work-card__link:hover {
    background-color: #2ec06c
}

.feedback {
    background-image: url(../img/feedback__bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 300px;
    padding-top: 82px
}

.feedback__slider {
    overflow: hidden;
    text-align: center
}

.feedback__slider p {
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
    cursor: default
}

.smaller {
    font-size: 16px
}

.quote {
    margin-bottom: 16px
}

.quote__caption {
    margin-top: 16px;
    letter-spacing: -.01em
}

.feedback__slider .swiper-pagination {
    bottom: -46px
}

.feedback__slider .swiper-pagination-bullet {
    background-color: #b3b3b3;
    opacity: 1;
    height: 10px;
    width: 10px;
    margin: 0 2px!important
}

.feedback__slider .swiper-pagination-bullet-active {
    background-color: #2ec06c
}

.contact {
    padding-top: 92px;
    padding-bottom: 99px
}

.contact__header {
    text-align: center;
    margin: 0 0 24px;
    font-size: 30px;
    line-height: 1.3;
    color: #202020;
    letter-spacing: -.005em
}

.contact__text {
    text-align: center;
    margin: 0;
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 54px
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    height: 299px;
    min-height: 300px
}

.social-btn {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 139px;
    height: 139px;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    -webkit-transition: background-color 1s,color 1s;
    -o-transition: background-color 1s,color 1s;
    transition: background-color 1s,color 1s
}

.social-btn__facebook {
    border-color: #3b5998
}

.social-btn__twitter {
    border-color: #1eb6ef
}

.social-btn__instagram {
    border-color: #517fa4
}

.social-btn__dribble {
    border-color: #b10824
}

.social-btn:hover,.social-btn:hover * {
    color: #fff;
    border-radius: 6px
}

.social-btn__dribble:hover {
    background-color: #ff0084
}

.social-btn__facebook:hover {
    background-color: #3b5998
}

.social-btn__twitter:hover {
    background-color: #1eb6ef
}

.social-btn__instagram:hover {
    background-color: #517fa4
}

.facebook {
    color: #3b5998
}

.twitter {
    color: #1eb6ef
}

.instagram {
    color: #517fa4
}

.dribble {
    color: #b10824
}

.dribble,.facebook,.instagram,.twitter {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%
}

.dribble i,.facebook i,.instagram i,.twitter i {
    font-size: 50px
}

.form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    min-height: 300px;
    height: 299px
}

input,textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #bababa;
    border-radius: 6px;
    padding: 0 20px;
    letter-spacing: -.01em;
    width: calc(50% - 10px)
}

textarea {
    padding: 15px 20px 0;
    height: 160px;
    width: 93.5%
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    font-family: 'Asap',sans-serif;
    font-style: italic
}

input:-ms-input-placeholder,input::-ms-input-placeholder,textarea:-ms-input-placeholder,textarea::-ms-input-placeholder {
    font-family: 'Asap',sans-serif;
    font-style: italic
}

input::placeholder,textarea::placeholder {
    font-family: 'Asap',sans-serif;
    font-style: italic
}

input:focus {
    border-radius: 6px
}

input:focus,textarea:focus {
    border-color: #2ec06c;
    outline: 0
}

textarea,textarea:focus {
    border-radius: 6px 0 0 6px
}

button {
    border-radius: 0 6px 6px 0;
    border-width: 1px;
    background: #2ec06c;
    color: #fff
}

input {
    height: 50px
}

textarea {
    resize: none
}

.form__submit {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 160px;
    width: 100%
}

.comment {
    height: 100%;
    width: 93.5%
}

.form__submit__btn {
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 6.5%;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s
}

.form__submit__btn:active,.form__submit__btn:hover {
    cursor: pointer;
    background-color: #28834e;
    border: 0;
    outline: 0
}

.footer {
    background-color: #eee
}

.footer p {
    color: #2f2f2f;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.01em
}

.link {
    text-decoration: none
}