/* font-family: 'PT Sans', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Playfair Display', serif; */

/* body {
    background-image: url('../img/header/bgLeft.png'), url('../img/header/bgRight.png');
    height: 700px;
    background-position: top left, top right;
    background-size: contain, contain;
    background-repeat: no-repeat;
} */
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    color: #4b4c49;
    font-size: 3.75em;
    font-weight: 700;
    letter-spacing: 0.025em;
    margin-bottom: 0;
}

.menu {
    position: fixed;
    top: 42px;
    right: 14vw;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 150px;
    cursor: pointer;
    z-index: 10000;
}

.menu p{
    margin: 0;
    color: black;
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

.side-menu {
    position: fixed;
    right: -5px;
    top: 0;
    padding-top: 40px;
    z-index: 10000;
}

.side-menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.side-menu__list__item a {
    color: black;
    display: block;
    padding-top: 13px;
    padding-bottom: 19px;
    font-size: 34px;
    text-align: center;
}

.side-menu__next {
    cursor: pointer;
}

.side-menu__next p{
    color: black;
    font-family: 'Fira Sans', sans-serif;
    font-size: 21px;
    font-weight: 700;
    /* line-height: 60px; */
    text-transform: uppercase;
    transform: rotate(-90deg);
    margin-top: 74px;
    letter-spacing: 0.03em;
    position: relative;
}

.side-menu__next svg {
    position: absolute;
    right: 34px;
    top: 420px;
}

.wrapper {

}

.wrapper__header {
    background-image: url('../img/bgHeader.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 1300px;
    /* z-index: 100; */
}

.wrapper__about {
    background-color: #a8f5fb;
    height: 1140px;
    -webkit-clip-path: polygon(0 13vw, 100% 0%, 100% 100%, 0 calc(100% - 13vw));
    clip-path: polygon(0 13vw, 100% 0%, 100% 100%, 0 calc(100% - 13vw));
    margin-top: -442px;
    padding-top: 257px;
}

.wrapper__trainers {
    background-color: #fedada;
    min-height: 1390px;
    -webkit-clip-path: polygon(0 0, 100% 13vw, 100% calc(100% - 21vw), 0 100%);
    clip-path: polygon(0 0, 100% 13vw, 100% calc(100% - 21vw), 0 100%);
    margin-top: -250px;
}

.header {
    padding-top: 442px;
}

.header__main--left {
    margin-left: -70px;
}

.header__main--right {
    margin-left: 12px;
}

.header__sub {
    color: #787272;
    font-size: 1.75em;
    font-weight: 700;
    line-height: 1.1;
    margin-left: -60px;
    margin-top: 23px;
    letter-spacing: 0.006em;
}

.services__list {
    padding: 0;
    list-style-type: none;
    margin-left: 4px;
    margin-bottom: 36px;
}

.services__item {
    color: #1f4b48;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.05em;
    position: relative;
}

.services__item::before {
    content: '';
    position: absolute;
    width: 71px;
    height: 1px;
    border: 3px solid #53d0c8;
    left: -107px;
    top: 28px;
}

.services__invite {
    display: flex;
    justify-content: center;
}

.services__invite p {
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
    color: #163735;
    letter-spacing: 0.02em;
    margin-top: 0px;
}
.services__invite span {
    color: #ef1374;
    text-transform: uppercase;
}

.services__link {
    display: flex;
    justify-content: center;
}

.btn {
    color: black;
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 2.4;
    text-transform: uppercase;
    text-decoration: none;
    background-color: white;
    box-shadow: 7.8px 6.3px 7px 3px rgba(0, 0, 0, 0.07);
    padding: 4px 45px;
    letter-spacing: 0.25em;
}

.trainers {
    padding-top: 223px;
    position: relative;
}

.trainers__header, .styles__header {
    color: #f21278;
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    letter-spacing: 0.25em;
    position: relative;
}

.trainers__header::before, .styles__header::before {
    content: '';
    display: block;
    position: absolute;
    width: 300px;
    height: 1px;
    border: 1px solid #f21278;
    left: -300px;
    top: 13px;
}

.trainers__slider {
    width: 100%;
    max-height: 650px;
    overflow: hidden;
    margin-top: 60px;
}

  .swiper-pagination-bullet {
      width: 210px;
      height: 270px;
      border-radius: 0;
      margin: 34px 0 !important;
      transition: height, width, 0.5s;
}

.swiper-pagination-bullet-active {
    height: 415px;
    width: 330px;
}

.swiper-pagination {
    left: -370px;
    top: 48% !important;
    right: 0;
}

.trainer-1 {
    content: url('../img/trainer-1.jpg');
  }
  .trainer-2 {
    content: url('../img/trainer-2.jpg');

  }
  .trainer-3 {
    content: url('../img/trainer-3.png');
  }

.trainers__slider h2 {
    color: #f21278;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.375;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 0px
}

.trainers__slider h3 {
    color: #163735;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.125;
    margin-top: 10px;
    letter-spacing: 0.05em;
}

.trainers__slider p {
    color: #1f4b48;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 75px;
    letter-spacing: -0.01em;
}

.wrapper__styles {
    margin-top: -115px;
}

.styles__header {
    letter-spacing: 0.35em;
}

.styles__list {
    list-style-type: none;
    margin: 0;
    padding: 16px 0 0 0;
}

.styles__item {
    font-weight: 400;
    line-height: 1;
    color: #163735;
    font-size: 46px;
    padding: 7px 0;
    letter-spacing: 0.05em;
    position: relative;
}

.styles__item--active {
    color: #f21278;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.styles__item::before {
    content: '';
    display: block;
    position: absolute;
    top: 16px;
    left: -82px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #16e2eb;
}

.styles__item--active::before {
    top: 30px;
    left: -82px;
}