body
{
	font-family:'PT Sans',sans-serif;
	font-size:40px;
	overflow-x:hidden
}

h1
{
	font-family:'Playfair Display',serif;
	text-transform:uppercase;
	color:#4b4c49;
	font-size:15.5vmin;
	font-weight:700;
	letter-spacing:.025em;
	margin-bottom:0
}

.menu
{
	position:fixed;
	top:42px;
	right:14vw;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-line-pack:center;
	align-content:center;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	width:150px;
	cursor:pointer;
	z-index:10000
}

.menu:hover path,.menu:hover p
{
	fill:#fff;
	color:#fff
}

.menu path
{
	-webkit-transition:fill 0.5s,color .5s;
	-o-transition:fill 0.5s,color .5s;
	transition:fill 0.5s,color .5s
}

.menu p
{
	margin:0;
	color:#000;
	font-family:'Fira Sans',sans-serif;
	font-size:24px;
	font-weight:700;
	line-height:60px;
	text-transform:uppercase;
	letter-spacing:.25em;
	-webkit-transition:fill 0.5s,color .5s;
	-o-transition:fill 0.5s,color .5s;
	transition:fill 0.5s,color .5s
}

.side-menu
{
	position:fixed;
	right:-5px;
	top:0;
	padding-top:40px;
	z-index:10000
}

.side-menu__list
{
	list-style-type:none;
	margin:0;
	padding:0
}

.side-menu__item a
{
	color:#000;
	display:block;
	padding-top:13px;
	padding-bottom:19px;
	font-size:34px;
	text-align:center;
	-webkit-transition:color 0.6s,-webkit-transform 1s;
	transition:color 0.6s,-webkit-transform 1s;
	-o-transition:transform 1s,color .6s;
	transition:transform 1s,color .6s;
	transition:transform 1s,color 0.6s,-webkit-transform 1s
}

.side-menu__item a:hover
{
	-webkit-transform:rotateY(30deg);
	transform:rotateY(30deg);
	color:#fff
}

.side-menu__next
{
	cursor:pointer;
	min-height:475px;
	padding:1px
}

.side-menu__next p
{
	color:#000;
	font-family:'Fira Sans',sans-serif;
	font-size:21px;
	font-weight:700;
	text-transform:uppercase;
	-webkit-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	transform:rotate(-90deg) translateY(-15%);
	margin-top:74px;
	letter-spacing:.03em;
	position:relative
}

.side-menu__next svg
{
	position:absolute;
	right:34px;
	top:420px
}

.side-menu__next:hover path,.side-menu__next:hover p
{
	color:#fff;
	fill:#fff
}

.wrapper--header
{
	background-image:url(../img/bgHeader.png);
	background-size:cover;
	background-attachment:fixed;
	background-position:top;
	background-repeat:no-repeat;
	min-height:1300px
}

.wrapper--about
{
	background-color:#a8f5fb;
	height:1140px;
	-webkit-clip-path:polygon(0 13vw,100% 0%,100% 100%,0 calc(100% - 13vw));
	clip-path:polygon(0 13vw,100% 0%,100% 100%,0 calc(100% - 13vw));
	margin-top:-442px;
	padding-top:257px;
	position:relative;
	z-index:100
}

.wrapper--trainers
{
	background-color:#fedada;
	min-height:1390px;
	-webkit-clip-path:polygon(0 0,100% 13vw,100% calc(100% - 21vw),0 100%);
	clip-path:polygon(0 0,100% 13vw,100% calc(100% - 21vw),0 100%);
	margin-top:-250px
}

.wrapper--schedule
{
	-webkit-clip-path:polygon(0 0,100% 11.5vw,100% calc(100% - 8vw),0 100%);
	clip-path:polygon(0 0,100% 11.5vw,100% calc(100% - 8vw),0 100%);
	background-color:#fcea88;
	min-height:900px
}

.wrapper--videos
{
	-webkit-clip-path:polygon(0 8vw,100% 0,100% 100%,0 calc(100% - 10vw));
	clip-path:polygon(0 8vw,100% 0,100% 100%,0 calc(100% - 10vw));
	position:relative;
	min-height:1476px;
	padding-top:166px;
	background-color:#00ecde;
	margin-top:-155px
}

.wrapper--form
{
	padding-bottom:42px
}

.wrapper--footer
{
	background-image:url(../img/bg--footer.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top;
	min-height:400px;
	padding:64px 0 50px
}

.header
{
	padding-top:442px
}

.header__main--left
{
	margin-left:-70px
}

.header__main--right
{
	margin-left:12px
}

.header__sub
{
	color:#787272;
	font-size:1.75em;
	font-weight:700;
	line-height:1.1;
	margin-left:-60px;
	margin-top:23px;
	letter-spacing:.006em
}

.services__list
{
	padding:0;
	list-style-type:none;
	margin-left:4px;
	margin-bottom:36px
}

.services__item
{
	color:#1f4b48;
	font-size:40px;
	font-weight:400;
	line-height:60px;
	letter-spacing:.05em;
	position:relative
}

.services__item::before
{
	content:'';
	position:absolute;
	width:71px;
	height:5px;
	background-color:#53d0c8;
	left:-107px;
	top:28px
}

.services__invite
{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center
}

.services__invite p
{
	font-size:50px;
	font-weight:400;
	line-height:70px;
	color:#163735;
	letter-spacing:.02em;
	margin-top:0
}

.services__invite span
{
	color:#ef1374;
	text-transform:uppercase
}

.services__link
{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center
}

.btn
{
	color:#000;
	font-family:'Fira Sans',sans-serif;
	font-size:25px;
	font-weight:700;
	line-height:2.4;
	text-transform:uppercase;
	text-decoration:none;
	background-color:#fff;
	-webkit-box-shadow:7.8px 6.3px 7px 3px rgba(0,0,0,0.07);
	box-shadow:7.8px 6.3px 7px 3px rgba(0,0,0,0.07);
	padding:4px 45px;
	letter-spacing:.25em;
	cursor:pointer;
	-webkit-transition:background-color .5s;
	-o-transition:background-color .5s;
	transition:background-color .5s
}

.btn:hover
{
	background-color:#ef1374
}

.btn--schedule
{
	font-size:28px;
	-webkit-box-shadow:7.8px 6.3px 7px 3px rgba(0,0,0,0.23);
	box-shadow:7.8px 6.3px 7px 3px rgba(0,0,0,0.23);
	padding:2px 34px
}

.trainers
{
	padding-top:223px;
	position:relative
}

.trainers__header,.styles__header,.schedule__header
{
	color:#f21278;
	font-family:'Fira Sans',sans-serif;
	font-size:30px;
	font-weight:600;
	line-height:30px;
	text-transform:uppercase;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	letter-spacing:.25em;
	position:relative
}

.trainers__header::before,.styles__header::before,.schedule__header::before
{
	content:'';
	display:block;
	position:absolute;
	width:300px;
	height:3px;
	background-color:#f21278;
	left:-300px;
	top:13px
}

.trainers__slider
{
	width:100%;
	max-height:650px;
	overflow:hidden;
	margin-top:60px
}

.swiper-pagination-bullet
{
	width:210px;
	height:270px;
	border-radius:0;
	margin:34px 0!important;
	-webkit-transition:height 0.5s,width .5s;
	-o-transition:height 0.5s,width .5s;
	transition:height 0.5s,width .5s
}

.swiper-pagination-bullet-active
{
	height:415px;
	width:330px
}

.swiper-pagination
{
	left:-370px;
	top:48%!important;
	right:0
}

.trainer-1
{
	content:url('../img/trainer-1.jpg');
	z-index:100;
	position:relative
}

.trainer-2
{
	content:url('../img/trainer-2.jpg')
}

.trainer-3
{
	content:url('../img/trainer-3.png')
}

.trainers__slider h2
{
	color:#f21278;
	font-size:40px;
	font-weight:400;
	line-height:1.375;
	text-transform:uppercase;
	letter-spacing:.03em;
	margin-bottom:0
}

.trainers__slider h3
{
	color:#163735;
	font-size:40px;
	font-weight:700;
	line-height:1.125;
	margin-top:10px;
	letter-spacing:.05em
}

.trainers__slider p
{
	color:#1f4b48;
	font-size:40px;
	font-weight:400;
	line-height:1.5;
	margin-top:75px;
	letter-spacing:-.01em
}

.wrapper__styles
{
	margin-top:-115px;
	position:relative;
	z-index:10
}

.styles__header
{
	letter-spacing:.25em
}

.styles__list
{
	list-style-type:none;
	margin:0;
	padding:16px 0 0
}

.styles__item
{
	font-weight:400;
	line-height:1;
	color:#163735;
	font-size:46px;
	padding:7px 0;
	letter-spacing:.05em;
	position:relative
}

.styles__item--active
{
	color:#f21278;
	font-size:60px;
	text-transform:uppercase;
	letter-spacing:.025em
}

.styles__item::before
{
	content:'';
	display:block;
	position:absolute;
	top:16px;
	left:-82px;
	width:20px;
	height:20px;
	border-radius:50%;
	background-color:#16e2eb
}

.styles__item--active::before
{
	top:30px;
	left:-82px
}

.styles__text
{
	color:#1f4b48;
	font-size:25px;
	font-weight:400;
	line-height:1.5;
	margin-top:77px;
	letter-spacing:.028em
}

.styles__img
{
	margin-right:-65px;
	margin-top:95px;
	position:relative;
	z-index:100
}

.schedule
{
	padding-top:196px;
	padding-bottom:150px
}

.schedule__day
{
	color:#f21278;
	font-size:60px;
	font-weight:400;
	line-height:1;
	text-transform:uppercase;
	margin:0;
	letter-spacing:.02em
}

.schedule__date
{
	color:#163735;
	font-size:46px;
	font-weight:400;
	line-height:60px;
	margin-top:0;
	margin-bottom:14px;
	letter-spacing:.04em
}

.schedule__list
{
	list-style-type:none;
	padding:0;
	margin:0
}

.schedule__item
{
	color:#1f4b48;
	font-size:40px;
	font-weight:400;
	line-height:1.4;
	letter-spacing:.05em
}

.schedule__item span
{
	letter-spacing:.05em;
	word-spacing:.4em
}

.schedule__link
{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	padding-top:28px
}

.videos__header
{
	color:#163735;
	font-family:'Fira Sans',sans-serif;
	font-size:30px;
	font-weight:600;
	line-height:30px;
	text-transform:uppercase;
	text-align:center;
	letter-spacing:.3em;
	padding-bottom:24px;
	position:relative
}

.videos__header::before
{
	content:'';
	position:absolute;
	top:14px;
	left:-424px;
	width:391px;
	height:3px;
	background-color:#163735
}

.video__slider
{
	width:100%;
	overflow:hidden;
	min-height:765px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center
}

.video__slider .swiper-wrapper
{
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center
}

.video__slider .swiper-slide
{
	background-position:center;
	background-repeat:no-repeat;
	min-height:605px;
	max-width:425px;
	background-size:auto;
	-webkit-transition:min-height 0.5s,min-width .5s;
	-o-transition:min-height 0.5s,min-width .5s;
	transition:min-height 0.5s,min-width .5s
}

.video__slider .swiper-slide-active
{
	min-width:970px;
	min-height:695px
}

.video__slider-2
{
	background-image:url(../img/video-1.jpg)
}

.video__slider-1
{
	background-image:url(../img/video-2.jpg)
}

.video__slider-3
{
	background-image:url(../img/video-3.jpg)
}

.videos__subheader
{
	color:#163735;
	font-size:60px;
	font-weight:400;
	line-height:1.333;
	text-transform:uppercase;
	margin-left:-70px;
	letter-spacing:.16em;
	margin-top:92px
}

.form__header
{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center
}

.form
{
	padding-bottom:20px
}

.form__header h2
{
	color:#454c4c;
	font-family:'Fira Sans',sans-serif;
	font-size:30px;
	font-weight:400;
	line-height:1.5;
	letter-spacing:.034em
}

.form__input
{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	padding:60px 0 76px
}

.form__input input
{
	width:270px;
	border:none;
	border-bottom:1px solid #888;
	outline:none;
	padding-bottom:8px;
	min-height:20px;
	background-color:none
}

.inp--relative
{
	position:relative
}

#email
{
	width:470px
}

.form__submit
{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center
}

.btn--form
{
	border:none;
	outline:none;
	-webkit-box-shadow:11.7px 9.4px 9px 1px rgba(0,0,0,0.23);
	box-shadow:11.7px 9.4px 9px 1px rgba(0,0,0,0.23)
}

.inp
{
	color:#454c4c;
	font-family:'Fira Sans',sans-serif;
	font-size:30px;
	font-weight:400;
	line-height:2;
	text-transform:uppercase;
	letter-spacing:.05em;
	position:absolute;
	top:-5px;
	left:0;
	width:250px;
	height:10px;
	-webkit-transition:top 0.5s,font-size .5s;
	-o-transition:top 0.5s,font-size .5s;
	transition:top 0.5s,font-size .5s
}

.inp:hover
{
	cursor:text
}

.inp--name
{
	left:0
}

.inp--email
{
	left:0
}

.inp--phone
{
	left:0
}

.inp--active
{
	top:-18px;
	font-size:15px;
	color:#777
}

.contact
{
	font-family:'Fira Sans',sans-serif;
	font-size:30px;
	font-weight:600;
	line-height:1.2;
	letter-spacing:.01em
}

.contact span
{
	font-size:24px;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:.26em
}

.map
{
	margin-right:-80px;
	padding-top:58px;
	position:relative;
	z-index:10
}

.map::before
{
	content:'';
	display:block;
	position:absolute;
	top:14px;
	left:64px;
	width:657px;
	height:494px;
	background-color:#c72668;
	z-index:-10
}

.subscribe p
{
	color:#ef1572;
	font-size:50px;
	font-weight:400;
	line-height:1.7;
	text-transform:uppercase;
	margin:0;
	margin-top:62px;
	margin-left:-43px;
	letter-spacing:.15em;
	position:relative;
	z-index:10
}

.subscribe__button
{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:end;
	-ms-flex-align:end;
	align-items:flex-end;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	height:100%
}

.btn--subscribe
{
	margin-bottom:34px;
	padding:4px 32px;
	position:relative;
	z-index:10
}

.shape
{
	position:absolute
}

.shape-1
{
	top:-356px;
	left:100px
}

.shape-2
{
	top:345px;
	left:-258px
}

.shape-3
{
	top:344px;
	left:332px
}

.shape-4
{
	top:210px;
	left:1210px
}

.shape-5
{
	top:-125px;
	right:132px
}

.shape-6
{
	top:65px;
	right:590px
}

.shape-7
{
	top:459px;
	right:1155px
}

.shape-8
{
	top:265px;
	right:100px
}

.shape-9
{
	top:760px;
	right:60px
}

.shape-10
{
	top:875px;
	right:535px
}

.shape-11
{
	top:885px;
	left:45px
}

.shape-12
{
	top:1192px;
	right:85px
}

.shape-13
{
	top:1625px;
	left:200px
}

.shape-14
{
	top:1805px;
	left:115px;
	z-index:10
}

.shape-15
{
	top:1920px;
	left:65px;
	z-index:5
}

.shape-16
{
	top:2295px;
	right:-120px
}

.shape-17
{
	top:2730px;
	left:-60px
}

.shape-18
{
	top:2690px;
	left:333px
}

.shape-19
{
	top:2780px;
	left:758px
}

.shape-20
{
	top:2760px;
	left:1500px;
	z-index:-5
}

.shape-21
{
	top:3165px;
	left:1020px;
	z-index:0
}

.shape-22
{
	top:3670px;
	left:482px;
	z-index:0
}

.shape-23
{
	top:3850px;
	left:1482px;
	z-index:0
}

.shape-24
{
	top:3908px;
	left:-160px;
	z-index:0
}

.shape-25
{
	top:4230px;
	right:30px;
	z-index:0
}

.shape-26
{
	top:4660px;
	right:-165px;
	z-index:0
}

.shape-27
{
	top:4850px;
	right:480px;
	z-index:0
}

.shape-28
{
	top:5020px;
	left:-40px;
	z-index:0
}

.shape-29
{
	top:5985px;
	left:285px;
	z-index:0
}

.shape-30
{
	top:6545px;
	right:25px;
	z-index:0
}

.shape-31
{
	top:6750px;
	left:170px;
	z-index:0
}

.shape-32
{
	top:7590px;
	left:370px;
	z-index:0
}

.shape-33
{
	top:7650px;
	left:660px;
	z-index:0
}