/* font-family: 'PT Sans', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Playfair Display', serif; */

/* body {
    background-image: url('../img/header/bgLeft.png'), url('../img/header/bgRight.png');
    height: 700px;
    background-position: top left, top right;
    background-size: contain, contain;
    background-repeat: no-repeat;
} */
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    color: #4b4c49;
    font-size: 3.75em;
    font-weight: 700;
    letter-spacing: 0.025em;
    margin-bottom: 0;
}

.menu {
    position: fixed;
    top: 42px;
    right: 14vw;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 150px;
    cursor: pointer;
    z-index: 10000;
}

.menu p{
    margin: 0;
    color: black;
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

.side-menu {
    position: fixed;
    right: -5px;
    top: 0;
    padding-top: 40px;
    z-index: 10000;
}

.side-menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.side-menu__list__item a {
    color: black;
    display: block;
    padding-top: 13px;
    padding-bottom: 19px;
    font-size: 34px;
    text-align: center;
}

.side-menu__next {
    color: black;
    font-family: 'Fira Sans', sans-serif;
    font-size: 21px;
    font-weight: 700;
    /* line-height: 60px; */
    text-transform: uppercase;
    transform: rotate(-90deg);
    margin-top: 74px;
    letter-spacing: 0.03em;
    position: relative;
}

.side-menu__next::before {
    content: url('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="269px"><path fill-rule="evenodd"  fill="rgb(0, 0, 0)" d="M10.682,263.443 L17.499,263.445 L8.997,268.500 L0.499,263.439 L7.318,263.441 L7.319,261.000 L7.000,261.000 L7.000,-0.000 L11.000,-0.000 L11.000,261.000 L10.683,261.000 L10.682,263.443 Z"/></svg>');
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
}

.wrapper {

}

.wrapper__header {
    background-image: url('../img/bgHeader.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 1300px;
    /* z-index: 100; */
}

.wrapper__about {
    background-color: #a8f5fb;
    height: 1140px;
    -webkit-clip-path: polygon(0 21%, 100% 0%, 100% 100%, 0 calc(100% - 13vw));
    clip-path: polygon(0 13vw, 100% 0%, 100% 100%, 0 calc(100% - 13vw));
    margin-top: -442px;
    padding-top: 257px;
}

.header {
    padding-top: 442px;
}

.header__main--left {
    margin-left: -86px;
}

.header__main--right {
    margin-left: 12px;
}

.header__sub {
    color: #787272;
    font-size: 1.75em;
    font-weight: 700;
    line-height: 1.1;
    margin-left: -76px;
    margin-top: 23px;
    letter-spacing: 0.006em;
}

.services__list {
    padding: 0;
    list-style-type: none;
    margin-left: -7px;
    margin-bottom: 36px;
}

.services__list__item {
    color: #1f4b48;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.05em;
    position: relative;
}

.services__list__item::before {
    content: '';
    position: absolute;
    width: 71px;
    height: 1px;
    border: 3px solid #53d0c8;
    left: -107px;
    top: 28px;
}

.services__invite {
    display: flex;
    justify-content: center;
}

.services__invite__text {
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
    color: #163735;
    letter-spacing: 0.02em;
    margin-top: 0px;
}
.services__invite__text--bigger {
    color: #ef1374;
    text-transform: uppercase;
}

.services__link {
    display: flex;
    justify-content: center;
}

.btn {
    color: black;
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 2.4;
    text-transform: uppercase;
    text-decoration: none;
    background-color: white;
    box-shadow: 7.8px 6.3px 7px 3px rgba(0, 0, 0, 0.07);
    padding: 4px 45px;
    letter-spacing: 0.25em;
}