/* font-family: 'PT Sans', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Playfair Display', serif; */

/* body {
    background-image: url('../img/header/bgLeft.png'), url('../img/header/bgRight.png');
    height: 700px;
    background-position: top left, top right;
    background-size: contain, contain;
    background-repeat: no-repeat;
} */
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    color: #4b4c49;
    font-size: 3.75em;
    font-weight: 700;
    letter-spacing: 0.025em;
    margin-bottom: 0;
}



.menu {
    position: fixed;
    top: 42px;
    right: 14vw;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 150px;
    cursor: pointer;
    z-index: 10000;
}

.menu p{
    margin: 0;
    color: black;
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

.side-menu {
    position: fixed;
    right: -5px;
    top: 0;
    padding-top: 40px;
    z-index: 10000;
}

.side-menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.side-menu__item a {
    color: black;
    display: block;
    padding-top: 13px;
    padding-bottom: 19px;
    font-size: 34px;
    text-align: center;
}

.side-menu__next {
    cursor: pointer;
}

.side-menu__next p{
    color: black;
    font-family: 'Fira Sans', sans-serif;
    font-size: 21px;
    font-weight: 700;
    /* line-height: 60px; */
    text-transform: uppercase;
    transform: rotate(-90deg);
    margin-top: 74px;
    letter-spacing: 0.03em;
    position: relative;
}

.side-menu__next svg {
    position: absolute;
    right: 34px;
    top: 420px;
}

.wrapper {

}

.wrapper--header {
    background-image: url('../img/bgHeader.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 1300px;
    /* z-index: 100; */
}

.wrapper--about {
    background-color: #a8f5fb;
    height: 1140px;
    -webkit-clip-path: polygon(0 13vw, 100% 0%, 100% 100%, 0 calc(100% - 13vw));
    clip-path: polygon(0 13vw, 100% 0%, 100% 100%, 0 calc(100% - 13vw));
    margin-top: -442px;
    padding-top: 257px;
}

.wrapper--trainers {
    background-color: #fedada;
    min-height: 1390px;
    -webkit-clip-path: polygon(0 0, 100% 13vw, 100% calc(100% - 21vw), 0 100%);
    clip-path: polygon(0 0, 100% 13vw, 100% calc(100% - 21vw), 0 100%);
    margin-top: -250px;
}

.wrapper--schedule {
    -webkit-clip-path: polygon(0 0, 100% 11.5vw, 100% calc(100% - 8vw), 0 100%);
    clip-path: polygon(0 0, 100% 11.5vw, 100% calc(100% - 8vw), 0 100%);
    background-color: #fcea88;
    min-height: 900px;
}

.wrapper--videos {
    -webkit-clip-path: polygon(0 8vw, 100% 0, 100% 100%, 0 calc(100% - 10vw));
    clip-path: polygon(0 8vw, 100% 0, 100% 100%, 0 calc(100% - 10vw));
    position: relative;
    min-height: 1476px;
    padding-top: 166px;
    background-color: #00ecde;
    margin-top: -155px;
}

.wrapper--form {
    min-height: 600px;
}

.header {
    padding-top: 442px;
}

.header__main--left {
    margin-left: -70px;
}

.header__main--right {
    margin-left: 12px;
}

.header__sub {
    color: #787272;
    font-size: 1.75em;
    font-weight: 700;
    line-height: 1.1;
    margin-left: -60px;
    margin-top: 23px;
    letter-spacing: 0.006em;
}

.services__list {
    padding: 0;
    list-style-type: none;
    margin-left: 4px;
    margin-bottom: 36px;
}

.services__item {
    color: #1f4b48;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.05em;
    position: relative;
}

.services__item::before {
    content: '';
    position: absolute;
    width: 71px;
    height: 5px;
    background-color: #53d0c8;
    left: -107px;
    top: 28px;
}

.services__invite {
    display: flex;
    justify-content: center;
}

.services__invite p {
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
    color: #163735;
    letter-spacing: 0.02em;
    margin-top: 0px;
}
.services__invite span {
    color: #ef1374;
    text-transform: uppercase;
}

.services__link {
    display: flex;
    justify-content: center;
}

.btn {
    color: black;
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 2.4;
    text-transform: uppercase;
    text-decoration: none;
    background-color: white;
    box-shadow: 7.8px 6.3px 7px 3px rgba(0, 0, 0, 0.07);
    padding: 4px 45px;
    letter-spacing: 0.25em;
    cursor: pointer;
}

.btn--schedule {
    font-size: 28px;
    box-shadow: 7.8px 6.3px 7px 3px rgba(0, 0, 0, 0.23);
    padding: 2px 34px;
}

.trainers {
    padding-top: 223px;
    position: relative;
}

.trainers__header, .styles__header, .schedule__header {
    color: #f21278;
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    letter-spacing: 0.25em;
    position: relative;
}

.trainers__header::before, .styles__header::before, .schedule__header::before {
    content: '';
    display: block;
    position: absolute;
    width: 300px;
    height: 3px;
    background-color: #f21278;
    left: -300px;
    top: 13px;
}

.trainers__slider {
    width: 100%;
    max-height: 650px;
    overflow: hidden;
    margin-top: 60px;
}

  .swiper-pagination-bullet {
      width: 210px;
      height: 270px;
      border-radius: 0;
      margin: 34px 0 !important;
      transition: height, width, 0.5s;
}

.swiper-pagination-bullet-active {
    height: 415px;
    width: 330px;
}

.swiper-pagination {
    left: -370px;
    top: 48% !important;
    right: 0;
}

.trainer-1 {
    content: url('../img/trainer-1.jpg');
  }
  .trainer-2 {
    content: url('../img/trainer-2.jpg');

  }
  .trainer-3 {
    content: url('../img/trainer-3.png');
  }

.trainers__slider h2 {
    color: #f21278;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.375;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 0px
}

.trainers__slider h3 {
    color: #163735;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.125;
    margin-top: 10px;
    letter-spacing: 0.05em;
}

.trainers__slider p {
    color: #1f4b48;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 75px;
    letter-spacing: -0.01em;
}

.wrapper__styles {
    margin-top: -115px;
}

.styles__header {
    letter-spacing: 0.25em;
}

.styles__list {
    list-style-type: none;
    margin: 0;
    padding: 16px 0 0 0;
}

.styles__item {
    font-weight: 400;
    line-height: 1;
    color: #163735;
    font-size: 46px;
    padding: 7px 0;
    letter-spacing: 0.05em;
    position: relative;
}

.styles__item--active {
    color: #f21278;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.styles__item::before {
    content: '';
    display: block;
    position: absolute;
    top: 16px;
    left: -82px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #16e2eb;
}

.styles__item--active::before {
    top: 30px;
    left: -82px;
}

.styles__text {
    color: #1f4b48;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 77px;
    letter-spacing: 0.028em;
}

.styles__img {
    margin-right: -65px;
    margin-top: 95px;
}

.schedule {
    padding-top: 196px;
    padding-bottom: 150px;
}

.schedule__day {
    color: #f21278;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.02em;
}

.schedule__date {
    color: #163735;
    font-size: 46px;
    font-weight: 400;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 14px;
    letter-spacing: 0.04em;
}

.schedule__list {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.schedule__item {
    color: #1f4b48;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.05em;
}

.schedule__item span {
    letter-spacing: 0.05em;
    word-spacing: 0.4em;
}

.schedule__link {
    display: flex;
    padding-top: 28px;
}

.videos__header {
    color: #163735;
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3em;
    position: relative;
}

.videos__header::before {
    content: '';
    position: absolute;
    top: 14px;
    left: -424px;
    width: 391px;
    height: 3px;
    background-color: #163735;
}

.video__slider {
    position: absolute;
    top: 138px;
    left: 0px;
    width: 100%;
    overflow: hidden;
}

.video__slider .swiper-wrapper {
    align-items: center;
}

.video__slider .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    min-height: 605px;
    max-width: 425px;
}

.video__slider .swiper-slide-active {
    min-width: 970px;
    min-height: 690px
}

.video__slider-2{
    background-image: url('../img/video-1.jpg')
}
.video__slider-1 {
    background-image: url('../img/video-2.jpg')
}
.video__slider-3 {
    background-image: url('../img/video-3.jpg')
}

.videos__subheader {
    color: #163735;
    font-size: 60px;
    font-weight: 400;
    line-height: 1.333;
    text-transform: uppercase;
    margin-left: -70px;
    padding-top: 820px;
    letter-spacing: 0.16em;
}

.form__header{
    display: flex;
    justify-content: center;
}

.form {
    padding-bottom: 20px;
}

.form__header h2{
    color: #454c4c;
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.034em;
}

.form__input {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 76px;
}

.form__input input {
    width: 270px;
    border: none;
    border-bottom: 1px solid #888;
    outline: none;
    padding-bottom: 8px;
    min-height: 20px;
    background-color: none;
}

#email {
    width: 470px;
}

.form__submit {
    display: flex;
    justify-content: center;
}

.btn--form {
    border: none;
    outline: none;
    box-shadow: 11.7px 9.4px 9px 1px rgba(0, 0, 0, 0.23);
}

.inp {
    position: relative;
    color: #454c4c;
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.inp::before {
    content: '';
    /* display: block; */
    position: absolute;
    top: -6px;
    left: 0;
    width: 250px;
    height: 10px;
    transition: top, font-size 0.5s;
}

.inp--name::before {
    content: 'ИМЯ';
}
.inp--email::before {
    content: 'E-MAIL';
}
.inp--phone::before {
    content: 'ТЕЛЕФОН';
}

.inp--active::before {
    top: -18px;
    font-size: 15px;
    color: #777;
}